<app-top-bar-profil-utilisateur></app-top-bar-profil-utilisateur>


<!-- lien pour les icons -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class = "stylefont">
    <div class = "profile-card">
        <div class = "image-container">
        <img src="{{profile.photo}}" style="width: 100%">
            <div class="title">
                <h2> {{profile.name}} </h2>
        </div>
        
        <div class="main-container">
            <p><i class="fa fa-venus-mars informations" aria-hidden="true"></i> {{profile.genre}}</p>

            <p><i class="fa fa-envelope-o informations" aria-hidden="true"></i> {{profile.mail}}</p>
        
            <hr>

            <p> Description </p>
        </div>
    </div>
</div>

<br style = 'line-height:2;'>

<button class="button_recherche_profils" (click)="rechercheDeProfilsCompatibles()">
    Rechercher des profils compatibles
</button>

<br>

<button class="button_voir_messages" (click)="voirMessages()">
    Voir vos messages
</button>

<br style = 'line-height:2;'>






<app-foot-bar></app-foot-bar>


