<app-top-bar></app-top-bar>

<br>

<label>
  Pseudo:
  <input type="text" [formControl]="pseudo">
</label>

<br>

<label>
  Email:
  <input type="text" [formControl]="email">
</label>

<br>


<label>
  Mot de passe:
  <input type="text" [formControl]="mot_de_passe">
</label>

<br>

<label>
  Confirmation du mot de passe:
  <input type="text" [formControl]="confirmation_mot_de_passe">
</label>

<br>

<label>
  Informations sur le physique:
  Genre:
  <input type="text" [formControl]="physique_genre">
</label>

<br>

<label>
  Taille:
  <input type="text" [formControl]="physique_taille">
</label>

<br>

<label>
  Couleur de peau:
  <input type="text" [formControl]="physique_couleur_peau">
</label>

<br>

<label>
  Couleur des cheveux:
  <input type="text" [formControl]="physique_couleur_cheveu">
</label>

<br>


<label>
  Couleur des yeux:
  <input type="text" [formControl]="physique_couleur_yeux">
</label>

<br>

<label>
  Préférences:
  Préférence de Genre:
  <input type="text" [formControl]="preference_genre">
</label>

<br>

<label>
  Préférence taille:
  <input type="text" [formControl]="preference_taille">
</label>

<br>

<label>
  Préférence couleur de peau:
  <input type="text" [formControl]="preference_couleur_peau">
</label>

<br>

<label>
  Préférence couleur de cheveux:
  <input type="text" [formControl]="preference_couleur_cheveu">
</label>

<br>


<label>
  Préférences couleur des yeux:
  <input type="text" [formControl]="preference_couleur_yeux">
</label>

<br>





<!--<label>
  <input type="text" [formControl]="informations" style="width:500px;">
</label>-->

<p>
  <button (click)="creerNouvelUtilisateur()">Entrez</button>
</p>


<h2>informationsDuServeur</h2>

<!--<div *ngFor="let product of tableau_products">-->

  <h3>
      {{ informationsDuServeur[0].pseudo }}
  </h3>