<a [routerLink]="['/']"> 
  <p style =" text-align: center; font-size: 40px" class="titre_page_d_acceuil">PerformMeetings.com</p>
</a>

<a [routerLink]="['/connexion_page_acceuil']" class="button_connexion fancy-button style_connexion"><i class="material-icons">account_box</i>Connexion</a>


<a [routerLink]="['/inscription_page_acceuil']" class="button_inscription fancy-button style_inscription"><i class="material-icons">account_box</i>S'inscrire</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
