<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class = "stylefont">
    <div class = "profile-card">
        <div class = "image-container">
            <img src="assets/img/profilimage.jpg" style="width: 100%">
            <div class="title">
                <h2> Nom Prénom </h2>
        </div>
        
        <div class="main-container">
            <p><i class="fa fa-venus-mars informations" aria-hidden="true"></i> Sexe : Homme</p>
            <p><i class="fa fa-briefcase  informations" aria-hidden="true"></i> Métier : Etudiant</p>
            <p><i class="fa fa-envelope-o informations" aria-hidden="true"></i> test@gmail.com</p>
        
            <hr>

            <p> Description </p>
        </div>
    </div>
</div>
