<app-top-bar></app-top-bar>


<br>

<form class='mat-form-field_validateurs_style' [formGroup]="formulaireConnexion">
  <mat-form-field>
    <input matInput placeholder="Entrez votre pseudo" formControlName="pseudo">
  
  </mat-form-field>
</form>
  

<br>

<form class='mat-form-field_validateurs_style' [formGroup]="formulaireConnexion">
  <mat-form-field>
    <input matInput placeholder="Entrez votre mot de passe" formControlName="motDePasse" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 
      'visibility_off'}}</mat-icon>
  </mat-form-field>
</form>


<br style = 'line-height:3;'>


<p>
  <button class='mat-form-field_validateurs_style' (click)="connexionUtilisateur()">Connexion</button>
</p>

<p class='messageErreurPersonnalise'  *ngIf="erreurConnexion===1">
    Connexion impossible.
    <br>
    Le pseudo ou le mot de passe donnés sont erronés.
  </p>

  <br style = 'line-height:3;'>


<!--<p>
  <button (click)="displayInformationsJSON()">Afficher informations Requête</button>
</p>-->

<app-foot-bar></app-foot-bar>



    


