<a [routerLink]="['/']"> 
  <p style =" text-align: center; font-size: 40px" id="titre_page_d_acceuil">TITRE DU SITE</p>
</a>



<!--<a>
  <h2 id="titre_page_d_acceuil">Page d'acceuil</h2>
</a>-->


<!--<a [routerLink]="['/cart']" id="nouveau_style_connexion" class="button fancy-button"><i class="material-icons">shopping_cart</i>Connexion</a>-->


<!--<a [routerLink]="['/']" id="style_button_page_acceuil" class="button_page_acceuil fancy-button"><i class="material-icons">home</i></a>-->


<a [routerLink]="['/connexion_page_acceuil']" id="style_connexion" class="button_connexion fancy-button"><i class="material-icons">account_box</i>Connexion</a>


<a [routerLink]="['/inscription_page_acceuil']" id="style_inscription" class="button_inscription fancy-button"><i class="material-icons">account_box</i>S'inscrire</a>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->