

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/


#style_connexion{
    color:red
    
    
}

#style_inscription{
    color: green;
}


#titre_page_d_acceuil{
    color: black
    
}

#style_button_page_acceuil{
    color: black;
}